<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS">
        <activity android:name=".view.activity.admin.AdminLoginActivity" />
        <activity android:name=".view.activity.instructor.InstructorLoginActivity" />
        <activity android:name=".view.activity.student.StudentExamActivity" />
        <activity android:name=".view.activity.student.StudentCourseLecturesActivity" />
        <activity
            android:name=".view.activity.student.StudentHomeActivity"
            android:label="Student Home"/>
        <activity android:name=".view.activity.student.StudentLoginActivity" />
        <activity android:name=".view.activity.instructor.evaluation.CorrectExamDetailsActivity" />
        <activity android:name=".view.activity.instructor.evaluation.CorrectExamActivity" />
        <activity android:name=".view.activity.instructor.exam.ExamDetailsActivity" />
        <activity
            android:name=".view.activity.instructor.exam.AddExamActivity"
            android:label="Add Exam"/>
        <activity
            android:name=".view.activity.instructor.lecture.LectureDetailsActivity"
            android:label="Lecture Details"/>
        <activity
            android:name=".view.activity.instructor.lecture.AddLectureActivity"
            android:label="Add Lecture"/>
        <activity
            android:name=".view.activity.instructor.InstructorHomeActivity"
            android:label="Instructor Home">
        </activity>
        <activity android:name=".view.activity.admin.student.StudentDetailsActivity" />
        <activity android:name=".view.activity.admin.student.StudentsActivity" />
        <activity android:name=".view.activity.admin.course.CourseDetailsActivity" />
        <activity android:name=".view.activity.admin.course.CoursesActivity" />
        <activity android:name=".view.activity.admin.instructor.InstructorDetailsActivity" />
        <activity android:name=".view.activity.admin.instructor.InstructorActivity" />
        <activity
            android:name=".view.activity.admin.AdminHomeActivity"
            android:label="Admin Home"/>
        <activity android:name=".view.activity.admin.grade.GradesDetailsActivity" />
        <activity android:name=".view.activity.admin.grade.GradesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>