<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lms">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/artif_intell_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/artif_intell_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS">
        <activity android:name=".view.activity.admin.assign.InstructorAssignActivity"
            android:label="Assign Instructor"/>
        <activity android:name=".view.activity.admin.assign.StudentAssignActivity"
            android:label="Assign Student"/>
        <activity android:name=".view.activity.admin.assign.AdminAssignStudentActivity"
            android:label="Assign Student"/>
        <activity android:name=".view.activity.admin.assign.AdminAssignInstructorActivity"
            android:label="Assign Instructor"/>
        <activity android:name=".view.activity.admin.assign.AdminAssignActivity"
            android:label="Assignments"/>
        <activity android:name=".view.activity.admin.AdminLoginActivity"
            android:label="Admin Portal"/>
        <activity android:name=".view.activity.instructor.InstructorLoginActivity"
            android:label="Instructor Portal"/>
        <activity android:name=".view.activity.student.StudentExamActivity"
            android:label="Student Exam"/>
        <activity android:name=".view.activity.student.StudentCourseLecturesActivity"
            android:label="Lectures"/>
        <activity
            android:name=".view.activity.student.StudentHomeActivity"
            android:label="Student Home" />
        <activity android:name=".view.activity.student.StudentLoginActivity"
            android:label="Student Portal"/>
        <activity android:name=".view.activity.instructor.evaluation.CorrectExamDetailsActivity"
            android:label="Correct Exams"/>
        <activity android:name=".view.activity.instructor.evaluation.CorrectExamActivity"
            android:label="Correct Exams"/>
        <activity android:name=".view.activity.instructor.exam.ExamDetailsActivity"
            android:label="Exam Details"/>
        <activity
            android:name=".view.activity.instructor.exam.AddExamActivity"
            android:label="Add Exam" />
        <activity
            android:name=".view.activity.instructor.lecture.LectureDetailsActivity"
            android:label="Lecture Details" />
        <activity
            android:name=".view.activity.instructor.lecture.AddLectureActivity"
            android:label="Add Lecture" />
        <activity
            android:name=".view.activity.instructor.InstructorHomeActivity"
            android:label="Instructor Home" />
        <activity android:name=".view.activity.admin.student.StudentDetailsActivity"
            android:label="Student Details"/>
        <activity android:name=".view.activity.admin.student.StudentsActivity"
            android:label="Students"/>
        <activity android:name=".view.activity.admin.course.CourseDetailsActivity"
            android:label="Course Details"/>
        <activity android:name=".view.activity.admin.course.CoursesActivity"
            android:label="Courses"/>
        <activity android:name=".view.activity.admin.instructor.InstructorDetailsActivity"
            android:label="Instructor Details"/>
        <activity android:name=".view.activity.admin.instructor.InstructorActivity"
            android:label="Instructors"/>
        <activity
            android:name=".view.activity.admin.AdminHomeActivity"
            android:label="Admin Home" />
        <activity android:name=".view.activity.admin.grade.GradesDetailsActivity"
            android:label="Grade Details"/>
        <activity android:name=".view.activity.admin.grade.GradesActivity"
            android:label="Grades"/>
        <activity android:name=".MainActivity" android:label="LMS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>